/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Voces&display=swap'); /* Use font-family: 'Voces', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap'); /* Use font-family: 'Source Sans Pro', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap'); /* Use font-family: 'Calistoga', cursive; */

/* Styling cursor */
.cursor {
    cursor: url("/images/custompointer.png");
}

/* Childcare Navigation */
.global-links {
    font-family: 'Voces', cursive;
    color: #4E4E4E;
}

.active {
    font-weight: 700;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.25em
}

.child-nav {
    margin-top: 1em;
    background-color: #136078;
}

.child-nav img {
    margin-right: 0.625em;
}

.form-control {
    border-radius: 0px;
    border: 1px solid gray;
}

.childcare {
    font-family: 'Calistoga', cursive;
    text-transform: uppercase;
}

.childcare-links {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    margin-left: 2.5em;
}

.childcare-links a:first-child{
    margin-right: 2em;
}

.btn-outline-success {
    color: white;
    background-color: #2C5F70;
    border-radius: 0;
    border: 1px solid #2C5F70;
}

.btn-outline-success:hover {
    background-color: white;
    border: 1px solid #2C5F70;
    color: #2C5F70;
}

.btn-outline-success:focus {
    outline: 5px solid #4b92aa;
}

/* Breadcrumbs */
.breadcrumb {
    margin-top: 1.6em;
    margin-bottom: 1.6em;
}

.clickable-link {
    color: #136078;
    text-decoration: underline;
}

/* Side navigation */
.main-body .col-3 {
    width: 23.5%;
}

.sidenav a {
    border: 1px solid white;
    color: white;
    background-color: #457087;
    padding-top: 1em;
    padding-bottom: 1em;
}

.sidenav a:hover {
    background-color: #325263;
}

.selected {
    background-color: #325263 !important;
}

/* Hero image */
.hero-space {
    height: 35em;
    margin-bottom: 10em;
    cursor: url("/images/custompointer.png"), pointer;
}

.hero-space h1 {
    color: white;
}

.centered-hero-content {
    text-align: center;
    width: 50%;
}

.centered-hero-content h1 {
    font-family: 'Calistoga', cursive;
    margin-bottom: 1em;
}




/* ******* Childcare Home Page ******* */
/* For Families and For Childcare Provider Cards */
.card {
    border: none;
}

.card img {
    margin-bottom: 2em;
}

.card h4 {
    font-family: 'Calistoga', cursive;
    margin-bottom: 1.75em;
}

.card p {
    margin-bottom: 30px;
}

.card a {
    color: #136078;
    text-decoration: none;
}

.card a:hover {
    text-decoration: underline;
}

.for-fam-prov-cards {
    margin-bottom: 8.25em;
}

#home-hero-image {
    background-image: url(/images/herohome.png);
    background-repeat: no-repeat;
    background-size: cover;
}



/* ******* Hunter's Green Provider Page ******* */
.hunt h1 {
    margin-bottom: 1em;
}

.space-under {
    margin-bottom: 0.5em;
}

.hunt img {
    margin: 1em auto 2.5em auto;
}

.hunt button {
    margin-bottom: 9em;
}

#hunt-hero-image {
    background-image: url(/images/hero3.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.provider-website {
    margin-bottom: 8.25em;
}





/* ******* Search Results Page ******* */
.child-web-search-h1 {
    margin-bottom: 2.5em;
}

.results-search-box {
    margin-bottom: 20em;
}

.link {
    color: #034ECF;
    font-weight: 700;
    margin-bottom: 0px;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.alter-options {
    margin-bottom: 8.25em;
}


/* Style all font awesome icons */

.fa {
    padding: 10px;
    margin-right: 15%;
    transform: scale(2, 2);
    width: 10px;
    text-decoration: none;
    color:white;
}

.fa:hover {
    color: #FEB95F;
    background-color: white;
    border-radius: 100%;
}
/* Add a hover effect if you want */
/* .fa:hover {
opacity: 0.7;
} */
/* Set a specific color for each brand */
/* Facebook */
/* .fa-facebook {
color: white;
} */
/* Instagram */
/* .fa-instagram {
color: white;
} */
/* YouTube */
/* .fa-youtube {
color: white;
} */
/* Twitter */
/* .fa-twitter {
color: white;
} */
/* Copyright Symbol */
.fa-copyright {
margin-right: 2px;
display: inline;
transform: scale(0.8, 0.8);
color: black;
}


/* ******* Footer ******* */
#childcareFooter {
    padding-top: 3em;
}

#childcareFooter small {
color: #090446;
}

.footer-headline {
    font-weight: 700;
}

.footer-link {
    color: black;
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: underline;
    color: black;
}

#childcareFooter{
background-color: #FEB95F;
}

.copyright {
    text-align: right;
}
